footer {
	padding-top: 32px;
	padding-bottom: 16px;
}

.jumbotron {
	/*color: #000;
	background-image: url('/images/sel4-banner.jpg');
	background-position: 80% 0%;*/
}

@media print {
	#site-navigation { display: none; }
	#site-header a[href]:after {
	    content: none;
	}
}

table.alttable tr:nth-child(even) {
    background-color: #f0f0f0;
}

.nav-pills {
    padding-top: 0px;
    margin-bottom: 20px !important;
}

.breadcrumb {
    margin-bottom: -20px;
}

h1 {
    margin-bottom: 25px;
}

@media (min-width: 992px) {
	ul.laundry-list {
	  column-count: auto;
	  -moz-column-count: auto;
	  -webkit-column-count: auto;
	}
	img.ribbon {
		display: inline !important;
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
    width: 149px;
    height: 149px;
	}
	ul.menu .col-xs-12 {
		padding-left: 0;
	}
	.resp-block {
		display: block;
	}

}

ul.menu li.menu {
	margin-top: 3em;
}

ul.menu li {
	list-style-type: none;
}
ul.menu h2 {
	font-size: 24px;
	margin: 1em;
	display: inline;
}

