---
layout: default
title: Projects
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
---

<!--
 You can overwrite the description of each project by adding a 'description'
 field to each project. E.g.
 {% include project-grid-element.html project='sel4' description="a sample description" %}
 --!>

<h1>{{page.title}}</h1>

 These are the main top-level overarching projects around the seL4 microkernel.

 <div class="flex-grid">
  <div class="col">
  	{% include project-grid-element.html project='sel4' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='l4v' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='camkes' %}
  </div>
  <div class="col">
    {% include project-grid-element.html project='microkit' %}
  </div>
 </div>

<h2> Tutorials and Examples </h2>

 These are tutorials and example systems that are designed to help people get a
 basic understanding of seL4, it's programming and development models, and how
 an seL4-based system would look like.

 <div class="flex-grid">
  <div class="col">
  	{% include project-grid-element.html project='sel4-tutorials' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='sel4webserver' %}
  </div>
 </div>

<h2> Tests, benchmarks and documentation </h2>

 These are a collection of projects, and tools that will help you test or
 benchmark seL4-based applications or modifications to the kernel. The
 documentation serves as a reference point to questions that one may have with
 seL4 or its ecosystem.

 <div class="flex-grid">
  <div class="col">
  	{% include project-grid-element.html project='sel4test' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='sel4bench' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='docsite' %}
  </div>

 </div>

<h2>User level development</h2>

 These are a collection of projects which build on top the seL4 kernel and
 includes a number of tools and libraries which aims to make user level
 development easier.

 <div class="flex-grid">
  <div class="col">
  	{% include project-grid-element.html project='user_libs' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='sel4runtime' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='capdl' %}
  </div>
 </div>


<h2>Virtualization</h2>

 These are a collection of projects which contains tools and libraries that
 make it possible to create virtual machines on top of an seL4 kernel. The
 projects also contain example virtual machine applications that can be run on
 QEMU and a few specific platforms.

 <div class="flex-grid">
  <div class="col">
  	{% include project-grid-element.html project='virtualization' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='camkes-vm' %}
  </div>
 </div>

<h2>Tooling</h2>

 These are projects that contains tools that are designed to aid the developer
 during the development process.

 <div class="flex-grid">
  <div class="col">
  	{% include project-grid-element.html project='buildsystem' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='dockerfiles' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='sel4_tools' %}
  </div>
 </div>

<h2>Boot process</h2>

 These are projects that are related to the booting of the seL4 kernel on
 hardware and simulators.

 <div class="flex-grid">
  <div class="col">
  	{% include project-grid-element.html project='elfloader' %}
  </div>
  <div class="col">
  	{% include project-grid-element.html project='hardware_hacks' %}
  </div>
 </div>
