[submodule "dependencies/jekyll-breadcrumbs"]
	path = dependencies/jekyll-breadcrumbs
	url = https://github.com/git-no/jekyll-breadcrumbs.git
[submodule "dependencies/pygments-high-contrast-stylesheets"]
	path = dependencies/pygments-high-contrast-stylesheets
	url = https://github.com/mpchadwick/pygments-high-contrast-stylesheets.git
[submodule "dependencies/jekyll-include-absolute-plugin"]
	path = dependencies/jekyll-include-absolute-plugin
	url = https://github.com/tnhu/jekyll-include-absolute-plugin.git
