# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: BSD-2-Clause

_data/generated.yml
_site/
_preview/
.sass-cache/
_repos/
projects/virtualization/docs/api/
.jekyll-cache/
.npm_deps
vendor/
node_modules/
_processed/microkit-tutorial/
_processed/tutes/
_data/microkit_tutorial.yml
