# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: BSD-2-Clause

_data/generated.yml
_site/
.sass-cache/
_repos/
projects/virtualization/docs/api/
.jekyll-cache/
vendor/
node_modules/
