# Copyright 2020 seL4 Project a Series of LF Projects, LLC.
# SPDX-License-Identifier: BSD-2-Clause

[submodule "dependencies/jekyll-breadcrumbs"]
	path = dependencies/jekyll-breadcrumbs
	url = https://github.com/git-no/jekyll-breadcrumbs.git
