---
layout: home
title: Examples and demonstrators
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2025 Proofcraft Pty Ltd
---

<h1 class="text-center text-4xl font-bold tracking-tight text-dark md:text-5xl">
  Example systems and demonstrators
</h1>


<div class="mx-auto section-max-w text-center text-base sm:text-lg text-light">
  <p class="pt-6">
    Below are example systems and demonstrators provided by the seL4
    Foundation.
  </p>
  <p class="pt-2 pb-10">
    See also <a href="https://sel4.systems/use.html">who is using seL4</a>, as
    well as the <a href="https://sel4.systems/tools.html">list</a> of tools,
    frameworks, Software Development Kits (SDKs), and supported languages for
    seL4, either provided by the seL4 Foundation or provided by the seL4
    community.
  </p>
</div>


<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-24 gap-x-12 lg:gap-x-20 px-10 pt-8 pb-12 sm:pb-20">
  {% include card.html
     icon="cloud"
     title="HTTP server"
     body="An seL4-based webserver written in Rust, using the seL4 Microkit."
     link="https://github.com/seL4/rust-microkit-http-server-demo"
  %}
  {% include card.html
     icon="paint-brush"
     title="Banscii demo system"
     body="A simple system demonstrating the use of the seL4 Rust crates with the seL4 Microkit."
     link="https://github.com/seL4/rust-microkit-demo"
  %}
  {% include card.html
     icon="other/rust-logo-blk"
     title="Simple Rust demo"
     body="Simple root task written in Rust running on seL4."
     link="https://github.com/seL4/rust-root-task-demo"
  %}
  {% include card.html
     icon="puzzle-piece"
     title="Microkit examples"
     body="Collection of example systems built on seL4 using Microkit. This
     include: Hello world for C; Hello world for Rust; an ethernet system; a
     passive server; a basic timer driver; a hierarchy of parent/child PD with
     fault handling."
     link="https://github.com/seL4/microkit/tree/main/example"
  %}
  {% include card.html
     icon="puzzle-piece"
     title="CAmkES examples"
     body="Collection of example systems built on seL4 using CAmkES."
     link="todo.html"
  %}
</div>
