---
layout: home
title: seL4 Documentation Site
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2025 Proofcraft Pty Ltd
---

<h1 class="text-center text-4xl font-bold tracking-tight text-dark md:text-5xl">
  The seL4 Documentation Site
</h1>


<div class="mx-auto section-max-w text-center text-base sm:text-lg text-light">
  <p class="py-4">
    Welcome to the seL4 documentation site, gathering documentation maintained
    by the seL4 Foundation about the seL4 technology and associated frameworks,
    languages, components and systems.
  </p>
  <p class="py-4 a">
    General information about seL4, the seL4 Foundation, news and events can be
    found on the main <a href="https://sel4.systems">seL4 website</a>.
  </p>
</div>


<h2 id="fundamentals" class="text-center my-16 text-3xl font-bold tracking-tight text-dark md:text-4xl">
  Fundamentals
</h2>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-24 gap-x-12 lg:gap-x-20 px-10 pt-8 pb-12 sm:pb-20">
  {% include card.html
     icon="arrow-right-end-on-rectangle"
     title="Getting started"
     body="Tutorial overview, setting up your machine, how-to answers... everything you need to get started."
     link="Tutorials/index.html"
  %}
  {% include card.html
     icon="sparkles"
     title="The seL4 Kernel"
     body="Manual, API, tutorials, supported platforms, verified configurations and more."
     link="projects/sel4/index.html"
  %}
</div>


<h2 id="devkits" class="text-center my-16 text-3xl font-bold tracking-tight text-dark md:text-4xl">
  Development Kits &amp; Component Frameworks
</h2>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-24 gap-x-12 lg:gap-x-20 px-10 pt-8 pb-12 sm:pb-20">
  {% include card.html
     icon="puzzle-piece"
     title="Microkit"
     body="Documentation about the Microkit framework."
     link="projects/microkit/index.html"
  %}
  {% include card.html
     icon="puzzle-piece"
     title="CAmkES"
     body="Documentation about the CAmkES framework."
     link="projects/camkes/index.html"
  %}
</div>

<h2 id="languages" class="text-center my-16 text-3xl font-bold tracking-tight text-dark md:text-4xl">
  Language Support
</h2>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-24 gap-x-12 lg:gap-x-20 px-10 pt-8 pb-12 sm:pb-20">
  {% include card.html
     icon="other/C"
     title="C support"
     body="Documentation about the C language support for seL4."
     link="projects/sel4runtime/index.html"
  %}
  {% include card.html
     icon="other/rust-logo-blk"
     title="Rust support"
     body="Documentation about the Rust language support for seL4."
     link="projects/rust/index.html"
  %}
</div>


<h2 id="useful" class="text-center my-16 text-3xl font-bold tracking-tight text-dark md:text-4xl">
  Useful Components and Systems
</h2>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-y-24 gap-x-12 lg:gap-x-20 px-10 pt-8 pb-12 sm:pb-20">
  {% include card.html
     icon="rocket-launch"
     title="Examples & demos"
     body="Example systems and demonstrators built on seL4."
     link="todo.html"
  %}
  {% include card.html
     icon="play-circle"
     title="Loaders"
     body="Bootloaders and system initialisers for seL4."
     link="todo.html"
  %}
</div>
