{%- comment %}
Copyright 2025 Proofcraft Pty Ltd
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}
{%- assign link_text = include.link_text | default: "Learn more" -%}
{%- assign icon = "_icons/" | append: include.icon | append: ".svg" -%}
{%- assign icon_colour = include.icon_colour | default: "bg-logogreen" -%}
{%- if include.center %}
{%-  assign centering = "col-span-1 sm:col-span-2 lg:col-span-1 sm:w-1/2 sm:mx-auto lg:w-full" %}
{%- endif -%}
<div class="grid grid-cols-1 relative group {{ include.class }} {{centering}}">
  {% if include.icon %}
  <div class="absolute left-1/2">
    {% if include.link %}<a href="{{ include.link }}">{% endif %}
    <div class="absolute {{ icon_colour }} -top-8 left-1/2 -ml-8 p-4 rounded-full shadow-md">
      {% svg "{{icon}}" class="h-8 w-8" %}
    </div>
    {% if include.link %}</a>{% endif %}
  </div>
  {% endif %}
  <div class="flex flex-col rounded-lg border dark:border-gray-700/80 bg-white dark:bg-darkblue shadow-lg
              dark:shadow-gray-300/30
              {% if include.link %}group-hover:bg-slate-50 dark:group-hover:bg-slate-900{% endif %}
              {{ include.class }} overflow-hidden">
    <h3 class="px-6 {% if include.icon %} pt-12 {% else %} pt-5 {% endif %}
               pb-3 text-center text-base font-semibold leading-7 text-dark
               {{ include.title_colour }} {{ include.title_class }}">
      {{ include.title }}
    </h3>
    <div class="px-6 pb-5 flex-auto text-base text-light {{ include.body_class }}">
      {{ include.body }}
    </div>
    {%- if include.no_link_text and include.link %}
      <a href="{{ include.link }}">
        <span class="sr-only">Link to {{ include.title }}</span>
        <span class="absolute inset-0"></span>
      </a>
    {%- endif %}
    {%- unless include.no_link_text %}
    {%-   if include.link %}
    <div class="px-6 mt-1 pb-5 {{ include.link_class }}">
      <a href="{{ include.link }}" class="arrow-link">{{ link_text }}
        <span class="absolute inset-0"></span>
      </a>
    </div>
    {%   endif -%}
    {% endunless -%}
    {%- if include.info %}
    <div class="px-6 mt-1 pb-5">
      <div class="text-sm font-semibold text-f_green-600">{{include.info}}</div>
    </div>
    {% endif -%}
  </div>
</div>
