{% comment %}
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
{% endcomment %}
<div class="breadcrumbs bootstrap hidden-sm-down">
  <nav class="sel-breadcrumb" aria-label="Breadcrumb" {% if (page.url == '/') and (site.breadcrumbs.root.hide) %}{{ 'style="display: none;"' }}{% endif %}>
    <ol class=" list-unstyled" vocab="http://schema.org/" typeof="BreadcrumbList">
      {% assign position = 0 %}
      {% for crumbitem in breadcrumbs %}
        {% assign position = position  | plus: 1 %}

        {% if forloop.last %}
          <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
            <span property="name">{{ crumbitem.title }}</span>
            <meta property="position" content="{{ position }}" /></li>
          {% continue %}
        {% endif %}

        <li class="breadcrumb-item" property="itemListElement" typeof="ListItem">
            <a property="item" typeof="WebPage" href="{{ crumbitem.url | prepend: site.baseurl }}">
              <span property="name"><b>{{ crumbitem.title }}</b></span>
            </a>
            <meta property="position" content="{{ position }}" />
        </li>
      {% endfor %}
    </ol>
  </nav>
  <nav class="sel-version" aria-label="Current Versions">
    <ol class="list-unstyled">
      <li class="list-unstyled text-right" style="margin-left:auto; padding:0rem 0rem;">
        Current versions:</li>
      <li class="list-unstyled text-right">
      <a href="{{ site.baseurl }}/releases/sel4/{{ site.sel4 }}"><b>seL4-{{ site.sel4 }}</b></a></li>
      <li class="list-unstyled text-right">
      <a href="{{ site.baseurl }}/releases/microkit/{{ site.microkit }}"><b>microkit-{{ site.microkit }}</b></a></li>
      <li class="list-unstyled text-right">
      <a href="{{ site.baseurl }}/releases/camkes/{{ site.camkes }}"><b>{{ site.camkes }}</b></a></li>
      <li class="list-unstyled text-right">
      <a href="{{ site.baseurl }}/releases/capdl/{{ site.capdl }}"><b>capDL-{{ site.capdl }}</b></a></li>
      </ol>
  </nav>
  <div class='clear'></div>
</div>
