{% comment %}
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
{% endcomment %}

{% comment %}
This header is responsible for the seL4 logo and top h2 links.
{% endcomment %}

<header>
  <ul class="row menu">
    <li class="col-xs-12 col-md-2" >
            <a href="https://sel4.systems" class="skip-icon">
              <img class="img-responsive" src="/assets/logo-text-white.svg" alt="seL4 logo" />
            </a>
    </li>
    <li class="col-xs-12 col-md-10 menu">
      <nav aria-label="Banner links">
        <h2><a href="{{ '/Resources' | relative_url }}" />Resources</h2>
        <h2><a href="{{ '/processes' | relative_url }}" />Contributing</a></h2>
        <h2><a href="{{ '/Projects' | relative_url }}" />Projects</h2>
        <h2><a href="{{ '/Tutorials' | relative_url }}" />Tutorials</h2>
        <iframe title="DuckDuckGo search bar" src="https://duckduckgo.com/search.html?site=docs.sel4.systems&prefill=Search%20sel4.systems" style="overflow:hidden;margin-bottom:10px; padding:0;height:40px;float:right;border-width: 0px"></iframe>
      </nav>
    </li>
  </ul>
  <div class="clear"></div>
  {% include custom-navbar.html %}

</header>
