{% comment %}
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.

This header is responsible for the seL4 logo and top h2 links.
{% endcomment %}
<header>
  <ul class="grid grid-cols-2 items-center px-10">
    <li>
            <a href="{{ '/' | relative_url }}">
              <img src="/assets/logo-text-white.svg" alt="seL4 logo" />
            </a>
    </li>
    <li>
      <nav>
        <iframe title="DuckDuckGo search bar"
                src="https://duckduckgo.com/search.html?site=docs.sel4.systems&prefill=Search%20sel4.systems"
                class="overflow-hidden mb-2 h-9 rounded-lg border-0 float-right"></iframe>
      </nav>
    </li>
  </ul>
  <div class="clear"></div>
</header>
