{%- comment %}
Copyright 2025 Proofcraft Pty Ltd
SPDX-License-Identifier: CC-BY-SA-4.0
{% endcomment -%}
<div class="grid grid-cols-[14rem_auto]">
<div>Platform:</div> <div>{{ page.platform }}</div>
{% if page.simulation_target -%}
<div>Simulation platform:</div> <div>yes</div>
{%- endif %}
<div>Architecture:</div> <div>{{ page.arch }}</div>
{% if page.soc -%}
<div>System-on-chip:</div> <div>{{ page.soc }}</div>
{%- endif %}
{% if page.cpu -%}
<div>CPU:</div> <div>{{ page.cpu }}</div>
{%- endif %}

<div>seL4 virtualisation support:</div>
<div>{{ page.virtualization }}</div>

<div>seL4 SMMU support:</div>
<div>{{ page.iommu }}</div>

<div>Verification status:</div>
{%- if page.verified -%}
{%-  assign link = "/projects/sel4/verified-configurations.html#" | append: page.verified | relative_url -%}
{%-  assign status = '<a href="' | append: link | append: '">' | append: page.Status | append: "</a>" %}
{%- else -%}
{%-  assign status = page.Status -%}
{%- endif -%}
<div>{{status}}</div>

{% if page.cmake_plat -%}
<div>seL4 cmake platform name:</div>
<div><code>{{ page.cmake_plat }}</code></div>
{%- endif %}

<div>Contributed by:</div> <div>{{ page.Contrib }}</div>
{% unless page.Maintained == "No" or page.archive %}
<div>Maintained by:</div> <div>{{ page.Maintained }}</div>
{% endunless %}
</div>
