<div class="sidebar">
{% for item in site.data.sidebar.toc %}
    <h3>{{ item.title }}</h3>
      <ul class="nav nav-sidebar">
  {% for entry in item.subfolderitems %}
        <li class="{% if page.url == entry.url %}active{% endif %}">
          <a class="" href="{{ entry.url }}">
            {{ entry.page }}
          </a>
        </li>
  {% endfor %}
      </ul>
{% endfor %}

  <h3><a href="/Tutorials">Tutorials</a></h3>
    <ul class="nav nav-sidebar">
  {% assign tutorials = site.pages | where_exp: 'page', 'page.tutorial' | sort: 'tutorial-order' %}
  {% for t in tutorials %}
        <li class="{% if page.url == t.url %}active{% endif %}">
            <a class="" href="{{t.url}}">{{t.title}}</a>
        <li>
  {% endfor %}
    </ul>
</div>
