<div class="sidebar">
{% for item in site.data.sidebar.toc %}
    <h3>{{ item.title }}</h3>
      <ul class="nav nav-sidebar">
  {% for entry in item.subfolderitems %}
        <li class="{% if page.url == entry.url %}active{% endif %}">
          <a class="" href="{{ entry.url }}">
            {{ entry.page }}
            {% if entry.external %}
              &nbsp;<i class="fas fa-external-link-alt"></i>
            {% endif %}
          </a>
        </li>
  {% endfor %}
      </ul>
{% endfor %}        
</div>
