{% comment %}
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
{% endcomment %}

{% assign project = site.data.projects[include.project] %}
{% assign status = site.status | where: "project", project.name | first %}

<div class="panel panel-default" style="height: 100%;">
  <div class="panel-heading">
    <div class="row" >
      <div class="col-xs-6 ">
        <h3 class="panel-title">{{project.display_name}}</h3>
      </div>
      <div class="col-xs-6 text-right">
{% if status %}
        <a href="{{ site.baseurl }}/projects/{{project.name}}/status">
          <h3 class="panel-title">Status</h3>
        </a>
{% endif %}
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>
{% if include.description %}
  {{include.description}}
{% else %}
  {{project.description}}.
{% endif %}
      <br/>
      <a href="{{project.name}}" class="">See more information.</a>
    </p>
  </div>

</div>
