<div class="sidebar-toc hidden-xs hidden-sm col-md-3 col-lg-3">
{% assign project = site.data.projects[page.project] %}
    <ul class="section-nav">
    	<h2> {{project.display_name}} </h2> 
        <li>
          <a class="" href="/projects/{{ project.name }}">
            Project Documentation
          </a>
        </li>
{% for repo in project.repositories %}
    {% if forloop.first == true %}
        <h3>Repositories</h3>
    {% endif %}
        <li>
          <a class="" href="https://github.com/{{ repo.org }}/{{ repo.repo }}">
            {{ repo.repo }}
          </a>
        </li>
{% endfor %}

{% assign release_where_exp = "item.url contains '/releases/" | append: page.project | append: "/'" %}
{% assign releases = site['releases'] | where_exp:"item", release_where_exp %}
{% for release in releases | sort: "date" %}
    {% if forloop.first == true %}
        <h3>Releases</h3>
    {% endif %}
        <li>
          <a style="{% if release.url == page.url %} font-weight: bold; {%endif%}" href="{{ release.url }}">
            {{ release.title }}
          </a>
        </li>
{% endfor %}

{% assign update_where_exp = "item.url contains '/updates/" | append: page.project | append: "/'" %}
{% assign updates = site['updates'] | where_exp:"item", update_where_exp %}
{% for update in updates | sort: "date" %}
    {% if forloop.first == true %}
        <h3>Recent Updates</h3>
    {% endif %}
        <li>
          <a style="{% if update.url == page.url %} font-weight: bold; {%endif%}" href="{{ update.url }}">
            {{ update.title }}
          </a>
        </li>
{% endfor %}
    </ul>

</div>
