{%- comment -%}
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2025 Proofcraft Pty Ltd
{%- endcomment %}
{%- assign li-style = "text-center p-1 sm:p-2 rounded-md shadow-md border
                       dark:border-gray-700/80 bg-white dark:bg-darkblue
                       dark:shadow-gray-300/30
                       hover:bg-slate-50 dark:hover:bg-slate-900 hover:underline
                       relative" -%}
<ul class="grid grid-cols-2 sm:grid-cols-4 gap-y-4 gap-x-2 sm:gap-x-4 md:gap-x-8 w-full not-prose text-light
           text-sm sm:text-base font-bold">
  <li class="{{li-style}}">
    <a href="{{ site.baseurl }}/releases/sel4/{{ site.sel4 }}.html">seL4-{{ site.sel4 }}
      <span class="absolute inset-0"></span>
    </a>
  </li>
  <li class="{{li-style}}">
    <a href="{{ site.baseurl }}/releases/microkit/{{ site.microkit }}.html">microkit-{{ site.microkit }}
      <span class="absolute inset-0"></span>
    </a>
  </li>
  <li class="{{li-style}}">
    <a href="{{ site.baseurl }}/releases/camkes/{{ site.camkes }}.html">{{ site.camkes }}
      <span class="absolute inset-0"></span>
    </a>
  </li>
  <li class="{{li-style}}">
    <a href="{{ site.baseurl }}/releases/capdl/{{ site.capdl }}.html">capDL-{{ site.capdl }}
      <span class="absolute inset-0"></span>
    </a>
  </li>
</ul>
