{%- comment %}
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2025 Proofcraft Pty Ltd
{% endcomment -%}

  <button class="tab-header order-1 mt-2 mr-3 px-5 pt-1.5 rounded-t-lg
                 bg-gray-100 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-700
                 font-bold cursor-pointer"
        data-tabname="{{ include.title }}">{{ include.title }}</button>
  <div class="tab-content order-3 basis-full hidden overflow-hidden border-l-2 pl-2 border-gray-100 dark:border-gray-800" data-tabname="{{ include.title }}">
      <div markdown="1">
