/*
  Copyright 2025 Proofcraft Pty Ltd
  SPDX-License-Identifier: CC-BY-SA-4.0
*/

@theme inline {

  --color-f_green-50: #f5faeb;
  --color-f_green-100: #e8f4d3;
  --color-f_green-200: #d2ebab;
  --color-f_green-300: #b4dc7a;
  --color-f_green-400: #96ca4f; /* foundation logo green */
  --color-f_green-500: #78b032;
  --color-f_green-600: #5c8c24;
  --color-f_green-700: #486b20;
  --color-f_green-800: #3b561e;
  --color-f_green-900: #33491e;
  --color-f_green-950: #19280b;

  --color-logogreen: var(--color-f_green-400);

  --color-f_red-50: #fff4ea;
  --color-f_red-100: #ffe6ce;
  --color-f_red-200: #ffc89c;
  --color-f_red-300: #ffa15d;
  --color-f_red-400: #ff6a1c;
  --color-f_red-500: #ff4300;
  --color-f_red-600: #ff2300;
  --color-f_red-700: #e10f00;
  --color-f_red-800: #b10b00;
  --color-f_red-900: #820c00; /* foundation accentDark */
  --color-f_red-950: #4d0100;

  --color-f_yellow-50: #fff9eb;
  --color-f_yellow-100: #ffeec6;
  --color-f_yellow-200: #ffdb88;
  --color-f_yellow-300: #ffca5f; /* foundation emphasis */
  --color-f_yellow-400: #ffab20;
  --color-f_yellow-500: #f98807;
  --color-f_yellow-600: #dd6202;
  --color-f_yellow-700: #b74206;
  --color-f_yellow-800: #94320c;
  --color-f_yellow-900: #7a2a0d;
  --color-f_yellow-950: #461302;

  --color-f_neutral-50: #f5f7fa;
  --color-f_neutral-100: #e9edf5;
  --color-f_neutral-200: #cfd9e8;
  --color-f_neutral-300: #a5bad4;
  --color-f_neutral-400: #7496bc;
  --color-f_neutral-500: #5278a5;
  --color-f_neutral-600: #3f5f8a;
  --color-f_neutral-700: #385378; /* foundation neutral */
  --color-f_neutral-800: #2e425e;
  --color-f_neutral-900: #2b3a4f;
  --color-f_neutral-950: #1c2535;

  --color-f_blue-50: #f2f8f9;
  --color-f_blue-100: #ddeaf0;
  --color-f_blue-200: #c0d7e1;
  --color-f_blue-300: #94bbcc;
  --color-f_blue-400: #6497b1;
  --color-f_blue-500: #457995;
  --color-f_blue-600: #3c637e;
  --color-f_blue-700: #365368;
  --color-f_blue-800: #324758;
  --color-f_blue-900: #2e3d4b;
  --color-f_blue-950: #1a2632;

  --color-darkblue: #030020;

  --color-darkcol: var(--color-gray-900);
  --color-darkcol_inv: var(--color-gray-300);
  --color-lightcol: var(--color-gray-600);
  --color-lightcol_inv: var(--color-gray-400);
  --color-lightercol: var(--color-lightcol_inv);
  --color-lightercol_inv: var(--color-lightcol);
  --color-accentlight: var(--color-slate-400);
  --color-accent: var(--color-slate-500);
  --color-accentdark: var(--color-slate-600);

  --font-sans: 'Roboto', var(--font-sans);

  --text-tiny: 0.625rem;

  --sidebar-width: 17rem;
}
