{% comment %}
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2024 seL4 Project a Series of LF Projects, LLC.
{% endcomment %}

<div class="sidebar">
  <ul class="nav nav-sidebar tutorial-sidebar">
{%- for item in all_tutes -%}
{%-   case item.type -%}
{%-     when "header" %}
    <li class="nav-section">{{ item. name}}</li>
{%-     when "file" -%}
{%-       assign url = "/Tutorials/" | append: item.file | relative_url %}
      <li><a href="{{ url }}">{{ item.name }}</a></li>
{%-     when "url" %}
      <li><a href="{{ item.url | relative_url }}">{{ item.name }}</a></li>
{%-     else -%}
{%-       assign url = "/Tutorials/" | append: item.name | relative_url %}
      <li><a href="{{ url }}">{{ item.display_name }}</a></li>
{%-   endcase -%}
{%- endfor %}
  </ul>
</div>
