/*
 * Copyright 2024, Colias Group, LLC
 *
 * SPDX-License-Identifier: BSD-2-Clause
 *
 */

.fragment-with-gh-link > .fragment-with-gh-link-link > pre > code {
    background-color: color-mix(in srgb, var(--bg), #777 20%);
    padding-top: .5rem;
    padding-bottom: .5rem;
    /* text-align: right; */
}

.fragment-with-gh-link > .fragment-with-gh-link-link > pre {
    margin-bottom: 0;
    /* margin-top: 0; */
}

.fragment-with-gh-link > .fragment-with-gh-link-fragment > pre {
    margin-top: 0;
    /* margin-bottom: 0; */
}

div.step-hint {
    padding: 8px;
    border-width: 1px;
    border-color: var(--icons);
    border-style: solid;
    /* border-color: rgba(0, 0, 0, 0.5);; */
    /* background-color: rgba(0, 0, 0, 0.025); */
    /* background-color: rgba(0, 0, 0, 0.08); */
    /* background-color: var(--sidebar-bg); */
}

div.step-hint p:last-child {
    margin-bottom: 0;
}

a.step-heading-clickable, a.step-heading-clickable:link {
    text-decoration: none !important;;
    color: inherit;
}

.step-heading-clickable:hover {
    background-color: var(--theme-hover);
}
