---
regenerate: true
layout: none
---
/*
 * Copyright 2020 seL4 Project a Series of LF Projects, LLC.
 * SPDX-License-Identifier: GPL-2.0-only
 */

@import "tailwindcss";
@import "../../../_includes/theme.css";
@import "../../../_includes/highlight.css";

@plugin "@tailwindcss/typography";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer base {
  html {
    font-family: "Roboto", system-ui, sans-serif;
  }
}

@utility text-hi {
  @apply text-f_green-600 dark:text-logogreen;
}

@utility text-dark {
  @apply text-darkcol dark:text-darkcol_inv;
}

@utility text-light {
  @apply text-lightcol dark:text-lightcol_inv;
}

@utility text-lighter {
  @apply text-lightercol dark:text-lightercol_inv;
}

@utility bordercol {
  @apply border-gray-200 dark:border-gray-700;
}

@utility inline-icon {
  @apply h-[1rem] w-[1rem] mb-[0.15rem] inline-flex text-current;
}

@utility text-sm-base {
  @apply text-sm sm:text-base;
}

@utility theprose-nodark {
  @apply prose lg:prose-lg max-w-(--breakpoint-md)
         prose-pre:bg-slate-800
         prose-p:leading-7 prose-li:leading-7
         prose-li:marker:text-lightercol
         prose-li:[li_li]:my-1.5;
}

@utility theprose {
  @apply theprose-nodark dark:prose-invert
         prose-li:dark:marker:text-lightercol_inv;
}

@utility outline-btn-nodark-classes {
  @apply rounded-md px-3 py-2 bg-white text-gray-900 hover:bg-gray-50 text-xs md:text-sm font-semibold shadow-xs ring-1 ring-inset ring-gray-300 h-8 md:h-9;
}

@utility on-dark-btn-colors {
  @apply text-gray-900 bg-slate-400 hover:bg-slate-500;
}

@utility button-outline {
  @apply outline-btn-nodark-classes dark:ring-0 dark:font-normal dark:on-dark-btn-colors;
}

@utility std-bg {
  @apply bg-white dark:bg-darkblue;
}

@utility border-gradient {
  @apply from-gray-200 from-30% via-white dark:from-gray-700 dark:via-darkblue;
}

.menu-content {
  display: none;
}

.on {
  display: block;
}
