<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/sel4.css">
  </head>

  <body class="container">
    <header>
      <ul class="row menu">
      	<li class="col-xs-12 col-md-3">
                <a href="/FrontPage">
                  <img class="img-responsive" src="/logos/logo-text-white.svg" alt="seL4 logo" />
                </a>
      	</li>
      	<li class="col-xs-12 col-md-9 menu">
      	  <h2><a href="/Documentation">Documentation</a></h2>
          <h2><a href="/Getting_started">Getting Started</a></h2>
      	  <h2><a href="/Tutorials">Tutorials</a></h2>
      	  <h2><a href="https://research.csiro.au/tsblog">Blog</a></h2>
      	</li>
      </ul>
    </header>

    {{ content }}

  </body>
</html>
