---
layout: basic
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
---
<div class="row">
  <div class="hidden-xs col-sm-4 col-md-3 col-lg-2">
    {% include nav-sidebar.html %}

  </div>
  <div class="col-sm-8 col-md-9 col-lg-8 main">
    {% comment %}
    {% if page.toc %}
      <nav aria-label="Table of Contents">
        {{content | toc_only}}
      </nav>
    {% endif %}
    {% endcomment %}
    <div class="content">
      {{ content }}
    </div>
  </div>
</div>
