---
layout: basic
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
---

<div class="theprose">
  <div class="content col-sm-8 col-md-6 col-lg-7 main">
    {{ content }}
  </div>

{% assign url = page.url | split: "/" %}
{% capture project_name %}
{% if page.project %}
{{page.project}}
{% elsif url[1] == "projects" %}
{{url[2]}}
{% endif %}
{% endcapture %}

{% assign project_name = project_name | strip %}
{% assign project = site.data.projects[project_name] %}

{% comment %}
  {% if page.toc %}
    {% include toc-sidebar.html %}
  {% endif %}
  {% include project-sidebar.html project=project %}
{% endcomment %}

</div>
