---
layout: basic
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
---

<div class="theprose mx-auto">
{{ content }}

{% if page.project == 'sel4' -%}
{%-  assign project = 'seL4' -%}
{% elsif page.project == 'camkes' -%}
{%-  assign project = 'CAmkES' -%}
{% elsif page.project == 'microkit' -%}
{%-  assign project = 'Microkit' -%}
{% elsif page.project == 'capdl' -%}
{%-  assign project = 'capDL' -%}
{% endif -%}
<h2>Other releases</h2>
<p>
  See the <a href="{{ '/releases/' | append: page.project | append: '.html' | relative_url }}">
    full list of {{project}} releases.</a>
</p>
</div>
