---
layout: basic
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
---

<div class="theprose mx-auto ext-links">
  {{ content }}
</div>

{% comment %}
{% if page.tutorial -%}
  {%- capture path -%}
  {{page.tutorial}}/{{page.tutorial}}.md
  {%- endcapture -%}

  {%- assign repo_url = 'https://github.com/sel4/sel4-tutorials' -%}
  {%- assign view_url = repo_url | append: '/blob/master/tutorials/' | append: path -%}
  {%- assign edit_url = repo_url | append: '/edit/master/tutorials/' | append: path -%}
   <p><em>Tutorial included from <a href="{{view_url}}">github repo</a> <a href="{{edit_url}}">edit</a></em></p>
{%- endif %}
{% endcomment -%}

<script src="{{ '/assets/js/toggle-markdown.js' | relative_url }}"></script>
