---
layout: basic
SPDX-License-Identifier: CC-BY-SA-4.0
SPDX-FileCopyrightText: 2020 seL4 Project a Series of LF Projects, LLC.
---

{%- assign components = site.data.projects["sel4-tutorials"].components -%}
{%- assign all_tutes = "" | split: "." -%}
{%- for item in site.data.tutorials-sidebar -%}
{%-   if item.type == "include" -%}
{%-     for component in components -%}
{%-       if component.section == item.name -%}
{%-         assign all_tutes = all_tutes | push: component -%}
{%-       endif -%}
{%-     endfor -%}
{%-   else -%}
{%-     assign all_tutes = all_tutes | push: item -%}
{%-   endif -%}
{%- endfor -%}

<div>
  <div class="theprose">

    {{ content }}

<p style="text-align: right;">
{%  assign page_file = page.url | split: '/' | last | remove: ".html" -%}
{%- assign found = false -%}
{%- for item in all_tutes -%}
{%-   if found -%}
{%-     if item.type == "header" -%}
{%- comment -%}
          We include the preceding header name in the "next" link when the link
          is an offsite URL, e.g. for Microkit or Rust.
{%- endcomment -%}
{%-       assign header_name = item.name -%}
{%-     else -%}
{%-       case item.type -%}
{%-         when "file" -%}
{%-           assign url = "/Tutorials/" | append: item.file | relative_url %}
      Next: <a href="{{ url }}">{{ item.name }}</a>
{%-         when "url" -%}
{%-         else -%}
{%-           assign url = "/Tutorials/" | append: item.name | relative_url %}
      Next: <a href="{{ url }}">{{ item.display_name }}</a>
{%-       endcase -%}
{%-       break -%}
{%-     endif -%}
{%-   else -%}
{%-     case item.type -%}
{%-       when "file" -%}
{%-         if item.file == page_file -%}
{%-           assign found = true -%}
{%-         endif -%}
{%-       when "url" -%}
{%-       when "header" -%}
{%-       else -%}
{%-         if item.name == page_file -%}
{%-           assign found = true -%}
{%-         endif -%}
{%-     endcase -%}
{%-   endif -%}
{%- endfor %}
</p>

{% if page.tutorial -%}
  {%- capture path -%}
  {{page.tutorial}}/{{page.tutorial}}.md
  {%- endcapture -%}

  {%- assign repo_url = 'https://github.com/sel4/sel4-tutorials' -%}
  {%- assign view_url = repo_url | append: '/blob/master/tutorials/' | append: path -%}
  {%- assign edit_url = repo_url | append: '/edit/master/tutorials/' | append: path -%}
    <hr>
    <p><em>Tutorial included from <a href="{{view_url}}">github repo</a> <a href="{{edit_url}}">edit</a></em></p>
{%- endif %}
  </div>

</div>
<script src="{{ '/assets/js/toggle-markdown.js' | relative_url }}"></script>
